@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50px;
}

#opened,
#closed {
  display: block;
  max-width: 100%;
}

.animation {
  animation: shake;
  animation-duration: 0.25s;
}

#envelope {
  position: relative;
}

#envelope #opened,
#envelope h1 {
  display: none;
}

#envelope.opened #closed {
  display: none;
}

#envelope.opened #opened,
#envelope.opened h1 {
  display: block;
}
